@import "../resources/_include-media.scss";

.big-wrapper {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  max-width: 100vw;
}

.sub-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-page {
  width: 100%;
}

@include media('<phone') {
  .big-wrapper {
    padding: 1em 1em 0em 1em;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  #select-bar {
    font-size: 20px;
    // flex-direction: column;
  }
  .swarmplot {
    height: 600px;
  }
  .dropdown-control {
    padding: 0px 0px 0px 0px !important;
    margin: 0px 5px 0px 5px !important;
  }
}

@include media('>=phone') {
  .big-wrapper {
    padding: 2em 2em 0em 2em;
  }
  h1 {
    font-size: 50px;
  }
  #select-bar {
    font-size: 40px;
  }
  .swarmplot {
    height: 300px;
  }
  .dropdown-control {
    padding: 0px 5px 0px 5px !important;
    margin: 0px 5px 0px 5px !important;
  }
}

h1 {
  text-align: center;
}
#select-bar {
  display: flex;
  
}

.sub-select {
  display: flex;
}


.select-text {
  padding-top: 10px;
  padding-bottom: 10px;
  color: gray;
}

.dropdown-class {
  // background-color: red !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-control {
  border: none !important;
  border-radius: 0px !important;
  // border-bottom: 3px black solid;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.7) !important;
  color:rgba(0, 0, 0, 0.5);
}

.dropdown-control:hover {
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.7) !important;
}

.data {
  width: 100%;
  padding: 1em 0em 1em 0em;
  max-width: 800px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  
}
.plot-container {
  max-width: 100%;
}

.averages {
  text-align: center;
}


li {
  max-width: 100%;
  text-overflow: ellipsis;
}

.track-name {

}

.track-artist {
  color: gray
}

.create-container {
  text-align: center;
}

#create {
  
}


#create:hover {
  background-color: darkgrey;
}
#create:focus { }
#create:active { }